/*
=============================================================================
Licensed Materials - Property of Frank Joublin and Antonio Ceravola.
(C) Copyright Frank Joublin and Antonio Ceravola. 2021, All Rights Reserved.
France Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with Frank Joublin and Antonio Ceravola.
=============================================================================
Module: MDDTools Style for Web Frontend
Date: 10.07.2020
=============================================================================
*/

/*
html{
  border: solid;
  border-width: thick;
}*/
 body {
   background-color: gray;
   overflow: hidden;
   margin: 0;
 }
 #mdd-status {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 10px;
  border-style: solid;
  /* border-color: rgba(125, 125, 125, 0.6); */
  border-color: rgba(60, 60, 60, 0.6);
  z-index: 100;
  pointer-events: none;
 }
 #mdd-status.default {
  border-color: rgba(60, 60, 60, 0.6);
 }
 #mdd-status.error {
  border-color: rgba(255, 0, 0, 0.6);
 }
 #mdd-status.unsaved {
  border-color: rgba(255, 221, 0, 0.6);
 }
 #mdd-status.saved {
  animation-name: saved;
  animation-duration: 2s;
 }
 @keyframes saved {
   from { border-color: rgba(123, 255, 0, 0.6); }
   to { border-color: rgba(60, 60, 60, 0.6); }
 }
 #mdd-status.loading {
  border-color: rgba(30, 144, 255, 0.6);
}
.diagramDiv {
  position: absolute;
  /*top: -70px;   /* TODO: This allow hiding top left corner of graph */
  width: 100%;
  height: 100%; /* TODO: Set to 120%
   re-enable also last lines in htmlMenu.js in function _computeRootMenuMouseClickXY */
  background: rgb(160, 160, 160);
}
.paletteDiv {
	background: rgb(179, 177, 177);
	padding: 5px;
	border: 1px solid #302f2f;
	position: absolute;
	top: 95px;
	left: 40px;
	width: 230px;
	height: 420px;
	/*bottom: 102px;*/
	z-index: 11;
  visibility: hidden;
}
#nodePalette {
	background: rgb(158, 157, 157);
	top: 0%;
	width: 99%; 
	height: 60%;
}
#groupPalette {
	background: rgb(158, 157, 157);
	top: 0%;
	width: 96%; 
	height: 20%;
  border-width: medium;
  border: #908e8e;
  border-style: solid;
}
#linkPalette {
	background: rgb(158, 157, 157);
	bottom: 0%;
	width: 99%; 
	height: 19%;
}

.editorMainDiv {
  z-index:99;
  position:absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 100px;
}

.editorMainDivChild {
  width: 100%;
  height:100%;
  min-width:50px;
}

.resizerObj {
  display: flex;
  flex-direction: column;
}

.resizerHeader {
  width: 100%;
  height: 20px;
  min-height: 20px; 
  background:#4b4b4b;
  color:Silver;
  text-align:center;
  border-bottom-style: solid;
  border-width: 1px;
  overflow: hidden;
}

.editorDivBClose {
  padding: 0px 3px;
  font-size: 12px;
  float: right;
}
.editorDivBSave {
  padding:0px 3px;
  font-size: 14px;
  float: right;
  visibility: hidden;
}
.editorDivBPin {
  padding:0px 3px;
  font-size: 11px;
  float: right;
  visibility: hidden;
}
.editorDivBCollapse {
  padding:0px 3px;
  font-size: 14px;
  float: right;
  visibility: visible;
}
.editorDiv {
  width: 100%;
  height: 100%;
  /*background: #1d1f21;*/ /* now set in the Editor.js */
  overflow: hidden;
}
.webViewer {
  width: 100%;
  height: 100%;
  border-width: 0px;
  background: gainsboro;
}
.search {
 color: #9383c3;
 border-bottom-style: solid;
 border-width: 1px;
 border-color:#5a5a5a;
}
.findResult {
 color: #908aa2;
 font-size: large;
}
.findResult:hover {
 background-color: #5a5a5a;
}
.bookmarkResult {
  color: #908aa2;
  font-size: large;
 }
 .bookmarkResult:hover {
  background-color: #5a5a5a;
 }

