system/node_modules/*
fileSystem/.DS_Store
fileSystem/MDDToolsDataRoot/.DS_Store
fileSystem/MDDToolsDataRoot/System/.DS_Store
.DS_Store
.env
system/stopServer.sh
system/2.1/server/Running_config.js
system/2.1/stopServer.sh
