html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
  overflow: hidden;
}
img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 3px solid #a8a8a8;
}
/* --------------
CONTTAINER
---------------*/
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #444753;
  border-radius: 5px;
  display: flex;
}
/* --------------
PEOPLE LIST
---------------*/
.people-list {
  width: 200px;
  flex: 0 0 200px;
  height: 100%;
  float: left;
}
.people-list .search {
  padding: 10px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 7px;
  color: white;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: 0px;
}
.people-list ul {
  padding: 7px;
  height: 770px;
  list-style-type: none;
}
.people-list ul li:hover {
  background: #51535f;
}
.people-list ul li {
  padding-bottom: 5px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959e;
}
/* --------------
CHAT
---------------*/
.chat {
  /* width: 75%; */
  flex-grow: 1;
  height: 100%;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  display: flex;
  flex-direction: column;
}
/* --------------
CHAT HEADER
---------------*/
.chat .chat-header {
  background: gainsboro;
  padding: 7px;
  border-bottom: 2px solid white;
  height: 70px;
  flex: 0 0 70px;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959e;
  display: contents;
}
.chat .chat-header .fa-star {
  float: right;
  color: #6b6c6e;
  font-size: 20px;
  margin-top: 12px;
}
/* --------------
CHAT HISTORY
---------------*/
.chat .chat-history {
  padding: 7px 15px 15px;
  overflow-y: scroll;
  flex-grow: 1;
}
.chat .chat-history ul {
  list-style-type: none;
}
.chat .chat-history .message-data {
  margin-bottom: 5px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 5px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 5px;
  width: 30%;
  min-width: 200px;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;

}
.chat .chat-history .my-message {
  margin-top: 10px;
  background: #86bb71;
}
.chat .chat-history .other-message {
  margin-top: 5px;
  background: #94c2ed;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}
/* --------------
CHAT MESSAGE
---------------*/
.chat .chat-message {
  background: gainsboro;
  padding: 15px;
  width: inherit;
  height: 90px;
  flex: 0 0 90px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 5px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  height: 40px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
