

.panel-north {
	border-bottom-width: 1px;
	background: rgb(23, 63, 76);
	position: absolute;
	top: 0%;
	left: 0%;
	height: 70px;
	width: 100%;
}

#headerTitle {
	font-size: 22px;
	color: darkOrange;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
}

.panel-west {
	background: rgb(179, 177, 177);
	padding: 5px;
	border: 1px solid #302f2f;
	position: absolute;
	top: 72px;
	left: 0%;
	width: 20%;
	bottom: 102px;
}

.panel-center {
	background: rgb(179, 177, 177);
	padding: 5px;
	/*border: 1px solid #302f2f;*/
	border: solid 2px green;
	position: absolute;
	top: 70px;
	left: 0%;
	width: 100%;
	bottom: 100px;
}

.panel-east {
	background: rgb(43, 43, 43);
	position: absolute;
	top: 72px;
	left: 80%;
	right: 0%;
	bottom: 102px;
}

.panel-south {
	background-color: rgb(23, 63, 76);
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100px;
}